body{
    text-align: center;
    background-color: black;
}
h3
  {
    font-size: 25px !important;
  }
  canvas {
  	border:1px solid black;
	  animation-name: example;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
  }

@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(216, 57, 155);}
  to {box-shadow: 1px 1px 38px rgb(39, 240, 240);}

}
